html {
  background: url("/assets/grunge.png");
}

body {
  width: 920px;
  margin: 0 auto;
  padding: 20px;
  background: inherit;
}

header {
  overflow: hidden;
  margin-bottom: 50px;

  .logo {
    float: left;

    a {
      color: inherit;
      text-decoration: none;
    }

    i {
      margin-right: .8em;
    }

    h1 {
      font-size: 30px;
      line-height: 0.5;
    }

    h2 {
      font-size: 14px;
      line-height: 1;
    }
  }

  .links {
    float: right;
    line-height: 70px;
    list-style: none;
    font-size: 18px;

    li {
      display: inline-block;
      margin-right: 1em;
    }

    a {
      color: steelblue;
    }
  }
}
