body {
  width: 920px;
  margin: 0 auto;
  padding: 20px;
}

header {
  overflow: hidden;
  margin-bottom: 50px;

  .logo {
    float: left;

    a {
      color: inherit;
      text-decoration: none;
    }

    i {
      margin-right: .8em;
    }

    h1 {
      font-size: 30px;
      line-height: 0.5;
    }

    h2 {
      font-size: 14px;
      line-height: 1;
    }
  }

  .links {
    float: right;
    line-height: 70px;
    list-style: none;
    font-size: 18px;

    li {
      display: inline-block;
      margin-right: 1em;
    }

    a {
      color: steelblue;
    }
  }
}

i[class^="icon-"] {
  line-height: 1.2;
}

h3 {
  line-height: 1.3;
  i {
    margin-right: .8em;
  }
}

.section {
  margin-bottom: 40px;
}

.tabbed_warnings {
  white-space: nowrap;
}

.reports_controller.top_action {
  .count {
    display: inline-block;
    margin-right: 50px;
    text-align: center;

    .value {
      line-height: 1;
      font-size: 100px;
      font-weight: bold;
    }
  }
}
