.reports_controller.top_action {
  .count {
    display: inline-block;
    margin-right: 50px;
    text-align: center;

    .value {
      line-height: 1;
      font-size: 100px;
      font-weight: bold;
    }
  }
}
