.section
  = render "chart", :service => "brakeman", :reports => @reports
  = render "chart", :service => "rails_best_practices", :reports => @reports
  = render "chart", :service => "pendaxes", :reports => @reports
